@keyframes square-transform-animate {
    0% {
        transform: scaleX(.95);
    }
    
    100% {
        transform: scaleX(1.05);
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spinButton {
    width: 200px;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 50px;
    border: 0;
    transition: box-shadow .2s;
    margin: 50px 0;
    transform: scaleX(.5);
    animation: square-transform-animate 1s ease infinite alternate;
    position: relative;
    }
    .spinButton:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.drawingContainer {
    background: url('../../assets/bg_1.jpg') center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
} 
.logoImg {
    width: 70px;
    height: 70px;
    top: 102px;
    left: 105px;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    filter: drop-shadow(2px -2px 15px #4335c4);
}
.containerWithArrow {
    position: relative;
}
.wheelContainer {
    position: relative;
    overflow: hidden;
}

@media (min-width: 480px) {
	.logoImg {
        width: 95px;
        height: 95px;
        top: 150px;
        left: 152px;
	}
}

@media (min-width: 1200px) {
	.logoImg {
        width: 160px;
        height: 160px;
        top: 265px;
        left: 270px;
	}
}