.table {
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    border-collapse: separate;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    color: rgb(233, 227, 238);
    border-radius: 7px;
}
.tableContent {
    overflow: auto;
    width: 400px;
    height: 350px;
}
.tableContent .resultRow:nth-child(odd) {
    background-color: rgba(255,255,255,0.2);
}
.tableContent .resultRow:first-child {
	color: #FFFF66;
}