.settingContainer {
    color: aliceblue;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: url('../../assets/bg_2.jpg') center;
    background-size: cover;
    height: auto;
}
.content {
    padding: 5px 30px;
    background-color: rgb(166 211 245 / 40%);
    border-radius: 10px;
    width: 270px;
    margin-bottom: 30px;
}
.addDeleteContainer {
    display: flex;
}
.presentList {
    margin: 20px 0;
    height: 140px;
    overflow: auto;
}
.optionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reset-btn {
    width: 400px;
    margin-top: 70px;
}
.add-new {
    width: 250px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    padding: 10px;
}

@media (min-width: 480px) {
	.content {
        width: 400px;
	}
    .add-new {
        width: 300px;
    }
}

@media (min-width: 760px) {
	.content {
        width: 700px;
	}
}
